<html>

<head>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <title>Admin Login</title>
    
</head>

<body>
    
    <div>
        <h1>
            <center>Admin Login</center>
        </h1>
        <hr>
        <center>
            <!-- <p>Enter Admin Login Username & Password</p> -->
        </center>
    </div>
    <form action="/admin_login_check" method="POST">
    <center>
        <div class="fb-box">
            <br><br>
            <label>Username :  </label><input type="text" id="admin_username" name="admin_username"><br><br>
            <label>Password :  </label><input type="password" id="admin_password" name="admin_password"><br><br>
        <button class="raise">Login</button>
    </center>
    <br><br>
   
</body>

</html>