<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Charm&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    
</head>

<body>
    <!-- <div id="header"></div> -->

    <%- include('include/_header')%>
    
        <!-- ***** Contact Us Start ***** -->
        <section class="section colored" id="contact-us">
            <div class="container">
                <!-- ***** Section Title Start ***** -->
                <div class="row">
                    <div class="col-lg-12">
                        
                        <!-- <div class="center-heading">
                            <h2 class="section-title" style="text-align: center;">Contact Us</h2>
                        </div> -->

                    </div>
                    
                </div>
             
                                <div style="height:20%;"></div>
                                <h1 style="font-family: 'Charm', cursive;">Your order has been placed successfully. </h1>
                                <br>
                                <h1 style="font-family: 'Charm', cursive;">Thank you..please collect your order within 30 minutes.</h1>
                                
                                

                            <!-- </div> -->
                            <div style="height:30%;"></div>
                        </form>

                    </div>
                </div>
                <!-- ***** Contact Form End ***** -->
           
            <%- include('include/_footer')%>
</body>

</html>