<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Charm&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/main.css">
    <title>Document</title>
</head>

<body>
    <%- include('include/_adminheader')%>
        <!-- <hr> -->
        
        <div>
            <div class="text-box">
                <h1 class="heading-primary">
                    <center><span class="heading-primary-main">Feedback</span></center>
                    <% for(var i=0; i < feedback.length; i++) { %>
                        <ul class="feedbacklist">
                            <hr class="feedbackline">
                            <span class="cust_name" style="font-family: 'Charm', cursive;" >
                                <%= feedback[i].cust_name %>
                            </span> :
                            <br>
                            <span class="fb_desc" style="font-family: 'Dancing Script', cursive;">
                                <%= feedback[i].fb_desc %>
                            </span><br> 
                        </ul>
                        <% } %>
            </div>
        </div>
        <div>
            <div id="section1"></div>
        </div>


        <hr>
        <div>
            <%- include('include/_footer')%>
        </div>
        

</body>

</html>